<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}"><< <span class="hidden-xs">Newer Posts</span></a>
    {{else}}
        <a class="newer-posts disabled" href="javascript:void(0)"><< <span class="hidden-xs">Newer Posts</span></a>
    {{/if}}

    <span class="page-number">Page {{page}} of {{pages}}</span>

    {{#if next}}
        <a class="older-posts" href="{{page_url next}}"><span class="hidden-xs">Older Posts</span> >></a>
    {{else}}
        <a class="older-posts disabled" href="javascript:void(0)"><span class="hidden-xs">Older Posts</span> >></a>
    {{/if}}
</nav>
